{% extends 'budget/base.html' %}
{% load crispy_forms_filters %}

{% block title %}{{ managed_acc }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-auto">
            <a href="/home" class="btn btn-outline-primary mb-3">Back to Home</a>
        </div>
    </div>

    <div class="row mb-3">
        <h3 class="col-auto">Manage user {{ managed_acc.get_username }} <i>{{ managed_acc.get_title }}</i></h3>
        <button class="btn btn-outline-secondary col-auto" data-bs-toggle="modal"
            data-bs-target="#renameUserModal">Rename</button>
        {% include 'budget/home/modals/rename_user_modal.html' %}
    </div>

    <div class="row">
        {% if make_mod %}
        {% if is_mod %}
        <div class="col-auto">
            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#unmakeModModal">Remove
                Moderator permissions</button>
        </div>
        {% include 'budget/home/modals/unmake_mod_confirmation_modal.html' %}
        {% else %}
        <div class="col-auto">
            <button class="btn btn-primary col-auto mt-3" data-bs-toggle="modal" data-bs-target="#makeModModal">Grant
                Moderator
                permissions</button>
        </div>
        {% include 'budget/home/modals/make_mod_confirmation_modal.html' %}
        {% endif %}
        {% endif %}
    </div>
    <div class="row">
        <form method="POST" class="row mt-5"> {% csrf_token %}
            <h4 class="mb-1">Specific user permissions</h3>
                <div class="col m-2 container">
                    {{ perm_form|crispy }}
                    <button type="submit" class="btn btn-success" name="change">Save</button>
                </div>
        </form>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-6">
            <h4 class="mt-3 mb-2">Granted user permissions</h4>
            <ul class="list-group">
                {% for perm in granted_perms %}
                <li class="list-group-item">{{ perm }}</li>
                {% empty %}
                <h5 class="mt-1 ms-1">None</h5>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if user.account.is_admin %}
    <div class="row">
        <h4 class="mb-2 mt-5">Give this user the Administrator role</h4>
        <div class="col">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#passAdminModal">Make Admin</button>
            {% include 'budget/home/modals/pass_admin_modal.html' %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <h4 class="mb-2 mt-5">Remove user</h4>
        <div class="col">
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeUserModal">Remove
                user</button>
            {% include 'budget/home/modals/remove_user_confirmation_modal.html' %}
        </div>
    </div>
</div>

{% endblock %}