# Project requirements
# Installation: pip install -r requirements.txt

# Django framework
django >= 4.0.1

# Needed for PostgreSQL
#psycopg2

# For better looking html forms
django-crispy-forms
crispy-bootstrap5

# Freezegun for datetime freezing in testing
freezegun
