# Project requirements
# Installation: pip install -r requirements.txt

# Django framework
django >= 4.0.1

# For better looking html forms
django-crispy-forms
crispy-bootstrap5

# Task scheduling
schedule
