<div class="container my-3">
    <div class="row">
        <!--Header-->
        <div class="container row mx-2">
            <div class="col-4"><strong>Label</strong></div>
            <div class="col-4"><strong>Amount</strong></div>
        </div>

        <div class="accordion border border-dark border-start-0 border-end-0 border-bottom-0">
            {% for op in operations %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{forloop.counter}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{forloop.counter}}" aria-controls="collapse{{forloop.counter}}">
                        <div class="col-4"> {%if op.label%} {{op.label}} {%else%} - {%endif%}</div>
                        <div class="col-4" style="text-indent:20px"> {{op.currency_amount}} </div>
                    </button>
                </h2>
                <!--Collapsed part-->
                <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        
                        <div class="row">
                            <div class="col">Frequency:</div>
                        </div>
                        <div class="row break">
                            <div class="col text-break">{{ op.get_frequency }}</div>
                        </div>

                        {%if op.description%}
                        <div class="row">
                            <div class="col">Description:</div>
                        </div>
                        <div class="row break">
                            <div class="col text-break">{{ op.description }}</div>
                        </div>
                        {%endif%}

                        <div class="row">
                            <div class="col">Next operation:</div>
                        </div>
                        <div class="row break">
                            <div class="col text-break">{{ op.next_date }}</div>
                        </div>
                        
                        <div class="col text-end">
                            <button class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#removeOperation{{ forloop.counter }}">Remove</button>

                            <form method="POST" class="p-0 text-start"> {% csrf_token %}
                                <div class="modal fade" id="removeOperation{{ forloop.counter }}"
                                    data-bs-backdrop="static" data-bs-keyboard="false" tab-index="-1"
                                    aria-labelledby="removeOperationLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="removeOperationLabel">Confirmation</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Do you really want to remove this operation?<br>
                                                Amount: {{ op.currency_amount }}<br>
                                                Next operation: {{ op.next_date }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-danger"
                                                    data-bs-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-danger" name="rm_id"
                                                    value="{{ op.id }}">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>