<div class="container my-3">
    <div class="row">
        <!--Header-->
        <div class="container row mx-2">
            <div class="col-1"><strong>#</strong></div>
            <div class="col-4"><strong>Label</strong></div>
            <div class="col-4"><strong>Amount</strong></div>
        </div>

        <div class="accordion border border-dark border-start-0 border-end-0 border-bottom-0">
            {% for op in operations %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{forloop.counter}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{forloop.counter}}" aria-controls="collapse{{forloop.counter}}">
                        <div class="col-1"><strong> {{forloop.counter}} </strong></div>
                        <div class="col-4">
                             {%if op.label%} {{op.label}}
                             {%else%} -
                             {%endif%}
                        </div>
                        <div class="col-4" style="text-indent:20px"> {{op.currency_amount}} </div>
                    </button>
                </h2>
                <!--Collapsed part-->
                <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col">
                                Created: {{op.creation_date}}
                            </div>
                            <div class="col">
                                Finalized: {%if op.final_date%} {{op.final_date}}
                                {%else%}
                                Not finalized yet
                                <button type="submit" class="btn btn-outline-secondary btn-sm mx-3"
                                    data-bs-toggle="modal"
                                    data-bs-target="#finalizeOperation{{ forloop.counter }}">Finalize now</button>
                                {%endif%}

                                {% include 'budget/user/modals/finalize_operation_modal.html' %}

                            </div>
                        </div>

                        {%if op.is_transaction %}
                            {%if op.source %}
                            <div class="row mb-3">
                                <div class="col">
                                Transfer recieved from: {{op.source.account.get_username}}
                                </div>
                            </div>
                            {%else%}
                            <div class="row mb-3">
                                <div class="col">
                                Transfer sent to: {{op.get_destination.account.get_username}}
                                </div>
                            </div>
                            {%endif%}
                        {%endif%}

                        {%if op.description%}
                        <div class="col">Description:</div>
                        <div class="row break">
                            <div class="col text-break">{{op.description}}</div>
                        </div>
                        {%endif%}

                        <!-- Remove button -->
                        <div class="col text-end">
                            <button class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#removeOperation{{ forloop.counter }}">Remove</button>

                                {% include 'budget/user/modals/remove_operation_modal.html'%}
                        </div>

                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>