{% load crispy_forms_filters %}

<div class="row">
    <div class="col-4 mb-3">
        <h3>Your personal labels:</h3>
    </div>

    <div class="col-auto">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newPersLabelModal">Add new</button>
    </div>
    <!--New personal label modal-->
    {% include 'budget/user/modals/new_personal_label_modal.html' %}

</div>

<div class="container">
    <div class="row mb-1 border-bottom border-dark">
        <div class="col-4"><b>Label name</b></div>
        <div class="col-auto"><b>Actions</b></div>
    </div>
    {% for label in pers_labels %}
    <div class="row mb-1">
        <div class="col-4">
            {{ label.name }}
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-secondary" data-bs-toggle="modal"
                data-bs-target="#renamePersLabelModal{{ forloop.counter }}">Rename</button>
        </div>

        <div class="col-auto">
            <button class='btn btn-danger' name="pers_rm_id" data-bs-toggle="modal"
                data-bs-target="#removeLabel{{ forloop.counter }}">Remove</button>
        </div>

        <!--Rename modal-->
        <form method="POST" class="p-0"> {% csrf_token %}
            <div class="modal fade" id="renamePersLabelModal{{ forloop.counter }}" data-bs-backdrop="static"
                data-bs-keyboard="false" tab-index="-1" aria-labelledby="renamePersLabelModalLabel{{ forloop.counter }}"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="renamePersLabelModalLabel{{ forloop.counter }}">Rename label
                                "{{ label.name }}"</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ add_label_form|crispy }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" name="pers_rename_id"
                                value="{{ label.id }}">Rename</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--Remove modal-->
        <form method="POST" class="p-0"> {% csrf_token %}
            <div class="modal fade" id="removeLabel{{ forloop.counter }}" data-bs-backdrop="static"
                data-bs-keyboard="false" tab-index="-1" aria-labelledby="removeLabelHeader" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="removeLabelHeader">Remove label</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you really want to remove the label '{{label.name}}'?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger" name="pers_rm_id"
                                value="{{ label.id }}">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    {% empty %}
    <div class="row mb-1">
        <div class='col-6'>No labels</div>
    </div>
    {% endfor %}
</div>