{% extends 'budget/base.html' %}
{% load crispy_forms_filters %}

{% block title %}Operation history{% endblock %}

{% block content %}
<h3>History of Your operations</h3>
<div class="container">
    <!--Table-->
    <div class="container">
        <div class="row">
            <!--Header-->
            <div class="container row mx-2"> 
                <div class="col-1"><strong>#</strong></div>
                <div class="col-4"><strong>Label</strong></div>
                <div class="col-4"><strong>Amount</strong></div>
            </div>

            <!--Transactions-->
            <div class="accordion border border-dark border-start-0 border-end-0 border-bottom-0">
                {%for op in operations reversed%}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{forloop.counter}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-controls="collapse{{forloop.counter}}">
                            <div class="col-1"><strong> {{forloop.counter}} </strong></div>
                            <div class="col-4"> {%if op.label%} {{op.label}} {%else%} - {%endif%}</div>
                            <div class="col-4" style="text-indent:20px"> {{op.amount}} </div>
                    </button>
                    </h2>
                    <!--Collapsed part-->
                    <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse">
                        <div class="accordion-body">

                            <!--Created-->
                            <div class="row">
                                <div class="col border border-dark border-start-0 border-top-0 border-bottom-0 text-end">
                                    <div class="my-3">Created:</div>
                                </div>
                                <div class="col">
                                    <div class="my-3">{{op.creation_datetime}}</div>
                                </div>
                            </div>
                            <!--Finalized-->
                            <div class="row">
                                <div class="col border border-dark border-start-0 border-top-0 border-bottom-0 text-end">
                                    <div class="my-3">Finalized:</div>
                                </div>
                                <div class="col">
                                    <div class="my-3">
                                        {%if op.final_datetime%} {{op.final_datetime}}
                                        {%else%} 
                                        Not finalized yet
                                        <button type="submit" class="btn btn-outline-secondary btn-sm mx-3" data-bs-toggle="modal" data-bs-target="#finalizeOperation{{ forloop.counter }}">Finalize now</button>
                                        {%endif%}
                                        <form method="POST" class="mt-3"> {% csrf_token %}
                                            <div class="modal fade" id="finalizeOperation{{ forloop.counter }}" data-bs-backdrop="static" data-bs-keyboard="false"
                                            tab-index="-1" aria-labelledby="finalizeOperationLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="finalizeOperationLabel">Confirmation</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Do you want to finalize this operation?<br>
                                                            Amount: {{ op.amount }}<br>
                                                            Created: {{ op.creation_datetime }}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                                                            <button type="submit" class="btn btn-secondary" name="fin_id" value="{{ op.id }}">Finalize</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--Description-->
                            <div class="row">
                                <div class="col border border-dark border-start-0 border-top-0 border-bottom-0 text-end">
                                    <div class="my-3">Description:</div>
                                </div>
                                <div class="col">
                                    <div class="my-3 text-break">{{op.description}}</div>
                                </div>
                            </div>

                            <!-- Template for new rows
                            <div class="row">
                                <div class="col border border-dark border-start-0 border-top-0 border-bottom-0 text-end">
                                    <div class="my-3">Put your information label here</div> 
                                </div>
                                <div class="col">
                                    <div class="my-3 text-break">Put your information here</div>
                                </div>
                            </div>
                            -->

                            <div class="col text-end">
                                <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#removeOperation{{ forloop.counter }}">Remove</button> 
                            
                                <form method="POST" class="p-0"> {% csrf_token %}
                                    <div class="modal fade" id="removeOperation{{ forloop.counter }}" data-bs-backdrop="static" data-bs-keyboard="false"
                                    tab-index="-1" aria-labelledby="removeOperationLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="removeOperationLabel">Confirmation</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Do you really want to remove this operation?<br>
                                                    Amount: {{ op.amount }}<br>
                                                    Created: {{ op.creation_datetime }}
                                                    {% if op.final_datetime %} <br> Finalized: {{ op.final_datetime }} {% endif %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-danger" name="rm_id" value="{{ op.id }}">Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        
        </div>
    </div>

</div>
{% endblock %}