{% extends 'budget/base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<h3>Hello, {{ user.name|default:user.username }}</h3>
<div>
    <p>Recent operations:</p>
    <div class="container">
        <div class="col">
            {% for op in operations %}
            <p>id: {{ op.id }}, {{ op }}</p>
            {% empty %}
            <p>None</p>
            {% endfor %}
        </div>
    
        <div class="col">
            <button class="btn btn-success">Add new</button>
        </div>
</div>

</div>
{% endblock %}