{% extends 'budget/base.html' %}

{% block content %}
<div class="container">
    <h1 class="mb-1">Create User</h1>
    <form method="post" action="users/add"> {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" name="create" value="create">Create User</button>
    </form>
</div>

{% if accounts %}
<div class="container">
    <form method="post" action="users/remove"> {% csrf_token %}
        <h3 class="mt-5 mb-1">User list:</h3>
        {% for acc in accounts %}
        <div class="row mb-2">
            <div class="col-auto">
                <p>id: {{ acc.id }}, {{ acc }}, home: {{ acc.home }}</p>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-danger" name="account_id" value="{{ acc.id }}">Remove</button>
            </div>
        </div>
        {% endfor %}
    </form>

</div>
{% endif %}
{% endblock %}