{% extends 'budget/base.html' %}
{% load crispy_forms_filters %}

{% block title %}Profile{% endblock %}

{% block content %}
{% load static %}
<script src="{% static 'budget/charts.js' %}"></script>
<h3>Hello, {{ user.name|default:user.username }}</h3>
<div class="container">
    <!--Info header and label menu (?)-->
    <div class="row">
        <div class="col-4">
            <p>Current account: {{ current_amount }}</p>
            <p>Final account: {{ final_amount }}</p>
        </div>

        <div class="col-auto">
            <a href="user/labels" class="btn btn-outline-secondary">My labels</a>
        </div>

    </div>

    <!--Recent operations header-->
    <div class="row mt-3">
        <div class="col-auto">
            <h3>Recent operations:</h3>
        </div>
        <div class="col-auto">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newOpModal">Add new</button>
        </div>
        <div class="col-auto">
            <a href="user/planned" class="btn btn-secondary">Planned operations</a>
        </div>

        <!--New operation modal-->
        {% include 'budget/user/modals/new_operation_modal.html' %}

    </div>

    <!--Recent operations-->
    {% include 'budget/user/lists/recent_operations_list.html' %}

    <a href='user/history' class="btn btn-outline-secondary">More history</a>

    <div class="container">
        <!-- Vertical bar -->
            <canvas id="monthlyChart" height="100"></canvas>
        <!-- Monthly category pie-chart -->
        <div class="row">
            <div class="col">
                <canvas id="catMonthIncome" height="100"></canvas>
            </div>
            <div class="col">
                <canvas id="catMonthExpenses" height="100"></canvas>
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- I have no idea how to read from external js, tried multiple solutions, nothing worked -->
<!-- TODO: find a way to use the external js-->
<script>
    //Yearly Chart:
    const first = document.getElementById('monthlyChart').getContext('2d');
    const months = ['January', 'Febuary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    var dataIncome = {{ income }};
    var dataExpenses = {{ expenses }};

    var incomeBorderColours = [];

    //Change border of income when expenses are higher than income
    //Problem: Legent always get first element, so in january the legend could have a red border
    for(var i=0; i<12; i++)
    {
        if(dataExpenses[i] > dataIncome[i])
        {
            incomeBorderColours.push('rgba(255, 0, 0, 1)');
        }
        else
        {
            incomeBorderColours.push('rgba(255, 0, 0, 0)');
        }
    }

    var barData = {
        labels: months,
        datasets: [
            {
                label: 'Income',
                data: dataIncome,
                backgroundColor: [
                    'rgba(0, 255, 0, 0.7)'
                ],
                borderColor: incomeBorderColours,
                borderWidth: 3,
            },
            {
                label: 'Expenses',
                data: dataExpenses,
                backgroundColor: [
                    'rgba(0, 0, 255, 0.7)'
                ],
                borderColor: 'rgba(0, 0, 255, 0)',
                borderWidth: 3
            }
        ]
    };

    const monthlyChart = new Chart(first, {
        type: 'bar',
        data: barData,
        options: {
            plugins: {
                title: {
                    text: 'Your this year\'s balance',
                    display: true,
                    font: {
                        size: 16
                    }
                }
            }
        }
    });
</script>

<script>        
    const pieIncome = document.getElementById('catMonthIncome').getContext('2d');
    const pieExpenses = document.getElementById('catMonthExpenses').getContext('2d');

    var pieIncomeLabels = [];
    var pieIncomeAmount = [];
    var pieExpensesLabels = [];
    var pieExpensesAmount = [];

    var date = new Date();

    {%for op in allOperations%}
        {%if op.final_date != NULL%}
        if({{op.final_date.month}} == date.getMonth()+1)
            {
                if({{op.amount}} > 0)
                {
                    if(pieIncomeLabels.indexOf('{{op.label_id}}') != -1)
                    {
                        pieIncomeAmount[pieIncomeLabels.indexOf('{{op.label_id}}')] += {{op.amount}};
                    }
                    else
                    {
                        pieIncomeLabels.push('{{op.label_id}}');
                        pieIncomeAmount.push({{op.amount}});
                    }
                }
                else
                {    
                    if(pieExpensesLabels.indexOf('{{op.label_id}}') != -1)
                    {
                        pieExpensesAmount[pieExpensesLabels.indexOf('{{op.label_id}}')] -= {{op.amount}};
                    }
                    else
                    {
                        pieExpensesLabels.push('{{op.label_id}}');
                        var amount = {{op.amount}};
                        amount *= -1;
                        pieExpensesAmount.push(amount);
                    }
                }
            }
        {%endif%}

    {%endfor%}


    //TODO: get category names from category id

    //TODO: better colours
    colours = ['rgba(139, 0, 0)', 'rgba(218, 165, 32, 1)', 'rgba(0, 255, 0 , 1)', 'rgba(32, 178, 170, 1)', 'rgba(0, 0, 255, 1)', 'rgba(200, 150, 0, 1)'];

    
    if(pieIncomeLabels.length == 0)
    {
        pieIncomeLabels.push("No incomes this month");
        pieIncomeAmount.push(0);
    }
    else if(pieIncomeLabels.indexOf("No incomes this month") != -1)
    {
        pieIncomeLabels.splice(pieIncomeLabels.indexOf("No incomes this month"), 1);
        pieIncomeAmount.splice(pieIncomeLabels.indexOf("No incomes this month"), 1);
    }

    if(pieExpensesLabels.length == 0)
    {
        pieExpensesLabels.push("No expenses this month");
        pieExpensesAmount.push(0);
    }
    else if(pieExpensesLabels.indexOf("No expenses this month") != -1)
    {
        pieExpensesLabels.splice(pieExpensesLabels.indexOf("No expenses this month"), 1);
        pieExpensesAmount.splice(pieExpensesLabels.indexOf("No expenses this month"), 1);
    }
    
    if(pieIncomeLabels.length == 0)
    {
        //Somethig big brain in the future
    }
    else
    {
        var pie1Data = {
                labels: pieIncomeLabels,
                datasets: [
                    {
                        label: 'Income by categories',
                        data: pieIncomeAmount,
                        backgroundColor: colours
                    }
                ]
         };

        const pie1 = new Chart(pieIncome, {
            type: 'pie',
            data: pie1Data,
        });
    }

    if(pieExpensesLabels.length == 0)
    {
        //Somethig big brain in the future
    }
    else
    {
        var pie2Data = {
            labels: pieExpensesLabels,
            datasets: [
            {
                label: 'Expenses by categories',
                data: pieExpensesAmount,
                backgroundColor: colours
            }
            ]
        };
    
        const pie2 = new Chart(pieExpenses, {
            type: 'pie',
            data: pie2Data,
        });
    }


</script>
{% endblock %}