{% load crispy_forms_filters %}

<form method="POST" class="p-0 text-start"> {% csrf_token %}
    <div class="modal fade" id="removeOperation{{ forloop.counter }}"
        data-bs-backdrop="static" data-bs-keyboard="false" tab-index="-1"
        aria-labelledby="removeOperationLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeOperationLabel">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you really want to remove this operation?<br>
                    Amount: {{ op.currency_amount }}<br>
                    Created: {{ op.creation_date }}
                    {% if op.final_date %} <br> Finalized: {{ op.final_date }} {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger" name="rm_id" value="{{ op.id }}">Remove</button>
                </div>
            </div>
        </div>
    </div>
</form>